# =========================
# BUILD .NET
# =========================
bin/
obj/

# =========================
# VISUAL STUDIO / VS CODE
# =========================
.vs/
.vscode/
*.user
*.suo

# =========================
# LOGS
# =========================
*.log

# =========================
# BANCO LOCAL
# =========================
*.mdf
*.ldf
*.db

# =========================
# TEMPORÁRIOS
# =========================
temp/
tmp/

# =========================
# DEPENDÊNCIAS
# =========================
packages/
node_modules/

# =========================
# CONFIGURAÇÕES SENSÍVEIS
# =========================
appsettings.Development.json
.env

# Caso tenha conexão real
appsettings.json

# =========================
# CACHE
# =========================
.cache/
dist/
build/

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db